apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
    - prometheus.yaml
    - kyverno.yaml
    - cert-manager.yaml
    - external-secrets.yaml
    - crossplane.yaml
    - istio.yaml
    - kiali.yaml
    - jaeger.yaml
